<!DOCTYPE html>
<md-content layout-padding>
    <div style="width: 100%; height: 40%;">
        <ng-map zoom="13" center="[50.79, -1.09]">
            <directions
                draggable="false"
                panel="directions-panel"
                travel-mode="{{travelMode}}"
                origin="current-location"
                destination="{{destination}}">
            </directions>
        </ng-map>
    </div>
    <div flex>
        <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm>
            <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a building">
                <md-option class="menuButton turquoiseBG1" ng-repeat="building in buildings" value="{{building.location}}">{{ building.name }} ({{ building.code }})
                </md-option>
            </md-select>
        </md-input-container>
        <md-checkbox ng-model="walking" aria-label="Walking checkbox" ng-change="setTravelMode()" style="margin-left: 5%;">
            Walking
        </md-checkbox>
    </div>
    <div flex id="directions-panel" style="width: 100%; float:left; height: 20%; overflow: auto; padding: 0px 5px">
    </div>
</md-content>

