<!DOCTYPE html>
<md-content layout-padding onload="getUserLocation()">
    <div flex style="padding-bottom: 0">
        <table>
            <tr>
                <td style="padding-right: 2vw;">
            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 5px; margin-bottom: 5px">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="navMode" placeholder="What are you looking for?" style="color: white">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="option in navTypes" value="{{option.value}}">{{ option.label }}
                    </md-option>
                    <md-option class="menuButton turquoiseBG1" value="parkandride" ng-click="clearDest();parkAndRide();setLoading()">Park and Ride
                    </md-option>
                </md-select>
            </md-input-container>
        </td>
        <td>
            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 5px !important; margin-bottom: 5px !important;" ng-show="navMode == 'buildings'">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a building" style="color: white !important">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="building in buildings | orderBy: 'name'" value="{{building.location}}" ng-click="setLoading()">{{ building.name }}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 5px !important; margin-bottom: 5px !important;" ng-show="navMode == 'trains'">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a train station" style="color: white">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="train in trains | orderBy: 'name'" value="{{train.location}}" ng-click="setLoading()">{{ train.name }}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 5px !important; margin-bottom: 5px !important;" ng-show="navMode == 'food'">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a food catering service" style="color: white">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="food in foods | orderBy: 'name'" value="{{food.location}}" ng-click="setLoading()">{{ food.name }}</md-option> 
                </md-select>
            </md-input-container>


            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 0; margin-bottom: 0" ng-show="navMode == 'parking'">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a car park" style="color: white">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="carpark in carparks | orderBy: 'name'" value="{{carpark.location}}" ng-click="setLoading()">{{ carpark.name }}
                    </md-option>
                </md-select>
            </md-input-container>


            <md-input-container class="md-block menuButton turquoiseBG1" flex-gt-sm style="margin-top: 0; margin-bottom: 0" ng-show="navMode == 'halls'">
                <md-select md-no-asterisk md-no-underline class="menuButton turquoiseBG1" ng-model="destination" placeholder="Select a student hall" style="color: white">
                    <md-option class="menuButton turquoiseBG1" ng-repeat="hall in halls | orderBy: 'name'" value="{{hall.location}}" ng-click="setLoading()">{{ hall.name }}
                    </md-option>
                </md-select>
            </md-input-container>

        </td>
    </tr>
</table>
            <md-radio-group ng-model="transportType" layout="row" layout-align="start center" style="float: bottom;">
                <md-radio-button ng-repeat="t in transportTypes" ng-value="t.value" class="bodyText nowrap" style="padding-top: 2vh; padding-bottom: 1vh;">{{ t.label }}</md-radio-button>
            </md-radio-group>
        <md-button class="menuButton turquoiseBG1" ng-if="navMode == 'parking'" ng-click="clearDest();setLoading();getNearestCarPark();">Find nearest car park</md-button>
        <!--<md-radio-group ng-model="navMode" layout="row" layout-align="start center" layout-wrap>
            <md-radio-button ng-repeat="n in navTypes" ng-value="n.value" class="bodyText nowrap" style="padding-top: 2px; padding-bottom: 2vw;" ng-click="clearDest()">{{ n.label }}</md-radio-button>
            <md-radio-button ng-value="parkandride" class="bodyText nowrap" style="padding-top: 2px; padding-bottom: 2vw;" ng-click="clearDest();parkAndRide();setLoading();">Park and Ride</md-radio-button>
        </md-radio-group>-->
        <div class="mapWrapper">
            <div flex>
                <ng-map id="navMap" center="[50.79, -1.09]" zoom="13">
                    <directions
                        panel="directions-panel"
                        suppress-markers="{{destination}}"
                        travel-mode="{{transportType}}"
                        origin="{{userLocation}}"
                        destination="{{destination}}">
                    </directions>
                </ng-map>
            </div>

            <md-button class="menuButton turquoiseBG1" ng-click="toggleStreetView();" ng-show="!panorama.getVisible()">Show street view</md-button>
            <md-button class="menuButton turquoiseBG1" ng-click="toggleStreetView();" ng-show="panorama.getVisible()">Hide street view</md-button>
            <p ng-show="loading && !geoFail" class="bodyText"><img id="loadingSpinner" src="img/spinner.gif"></img> Loading, please wait...</p>
            <p ng-show="geoFail" class="bodyText" style="color: red !important">Geolocation unable to initialise. You may need to enable "Location Services" or "Geolocation" in your mobile device settings and/or browser.</p>
            <div flex id="directions-panel"></div>
        </div>

    </div>
</md-content>

