<!DOCTYPE html>

<md-content layout-padding>    

    <div flex>
        <label class="subSubHead purple">1. On which Applicant Open Day did you attend?</label>
        <md-select ng-model="q1" class="bodyText">
            <md-option class="menuButton turquoiseBG1" ng-repeat="date in feedbackq1" value="{{date}}">
                {{date}}
            </md-option>
            
        </md-select>
    </div>

    <div flex>
        <p class="subSubHead purple">2. How useful did you find the morning part of the Applicant Open Day? (Accommodation, campus and city tours given by our Student Marketing Assistants in purple)</p>
        <md-radio-group ng-model="q2">
            <md-radio-button class="bodyText" ng-repeat="a in feedbackq2"
                ng-value="a.value">
                {{ a.label }} <br/>
            </md-radio-button>
        </md-radio-group>

        <label class="subSubHead purple">Comments: </label>
        <textarea ng-model="q2c"></textarea>
    </div>
    
    <div flex>
        <p class="subSubHead purple">3. How useful did you find the afternoon part of the Applicant Open Day? (With your department)</p>
        <md-radio-group ng-model="q3">
            <md-radio-button class="bodyText" ng-repeat="a in feedbackq3"
                ng-value="a.value">
                {{ a.label }} <br/>
            </md-radio-button>
        </md-radio-group>
        
        <label class="subSubHead purple">Comments: </label>
        <textarea ng-model="q3c"></textarea>
    </div>

    <div flex>
        <p class="subSubHead purple">4. Are we your first or insurance choice?</p>
        <md-radio-group ng-model="q4">
            <md-radio-button class="bodyText" ng-repeat="a in feedbackq4"
                ng-value="a.value">
                {{ a.label }} <br/>
            </md-radio-button>
        </md-radio-group>
    </div>


    <div flex>
        <p class="subSubHead purple">5. Based on your experience of the Applicant Open Day, which of the following applies?</p>
        <md-radio-group ng-model="q5">
            <md-radio-button class="bodyText" ng-repeat="a in feedbackq5"
                ng-value="a.value">
                {{ a.label }} <br/>
            </md-radio-button>
        </md-radio-group>
        
        <label class="subSubHead purple">Comments: </label>
        <textarea ng-model="q5c"></textarea>
    </div>

    <div flex>
        <p class="subSubHead purple">6. How could we improve the Applicant Open Day?</p>
        </br>
        <textarea ng-model="q6"></textarea>
    </div>

    <div flex>
        <p class="subSubHead purple">7. What did you think of the open day visitor app? How could we improve it?</p>
        </br>
        <textarea ng-model="q7"></textarea>
    </div>

    <md-button class="menuButton turquoiseBG1" ng-click="submitFeedback()">Submit</md-button>
    <md-button class="menuButton turquoiseBG1" ng-href="#/">Cancel</md-button>

</md-content>
