<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="lib/angular-material.min.css">
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- AngularJS/Material etc. -->
        <script src="lib/angular.js"></script>
        <script src="lib/angular-touch.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-aria.min.js"></script>
        <script src="lib/angular-messages.min.js"></script>
        <script src="lib/angular-route.min.js"></script>

        <script src="lib/angular-material.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
        <script src="lib/ui-bootstrap-custom-2.4.0.min.js"></script>

        <!-- Google Maps stuff -->
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyA_M8pFurDyCMfwF4P_yCRJhlmu9cJmAUE&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="lib/ng-map.min.js"></script>

        <!-- Per-page JavaScript -->
        <script src="js/index.js"></script>
        <script src="js/directive.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/navigator.js"></script>
        <script src="js/parking.js"></script>
        <script src="js/feedback.js"></script>
        <script src="js/banner.js"></script>
        <script src="js/vcmessage.js"></script>
        <script src="js/feedbackanalytics.js"></script>

        <!-- Google analytics -->
        <script>
        (function(p,o,r,t,a,c,u,k){p['GoogleAnalyticsObject']=a;p[a]=p[a]||function(){
        (p[a].q=p[a].q||[]).push(arguments)},p[a].l=1*new Date();c=o.createElement(r),
        u=o.getElementsByTagName(r)[0];c.async=1;c.src=t;u.parentNode.insertBefore(c,u)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-265018-1', 'auto');
        ga('send', 'pageview');
        </script>
    </head>

    <body ng-app="UoPVisitorApp" ng-controller="mainController as ctrl" ng-cloak layout-gt-sm="column" layout="column" layout-fill>

        <!-- Top toolbar -->
        <div layout="column" layout-fill>
            <md-toolbar style="min-height: 12vh !important; max-height: 40vh !important">
                <md-toolbar-row>
                    <span layout-align="center center">
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="ctrl.openMainMenu($mdOpenMenu, $event)">
                                <ng-md-icon md-menu-origin icon="menu"  size="30"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button class="menuButton" ng-click="showSettings($event, 'settings.html')">
                                        <ng-md-icon icon="settings"></ng-md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                                <md-divider style="color: rgba(255, 255, 255, 1)"></md-divider>
                                <md-menu-item>
                                    <md-button class="menuButton">
                                        <ng-md-icon icon="login"></ng-md-icon>
                                        Login
                                    </md-button>
                                </md-menu-item>
                                <md-divider style="color: rgba(255, 255, 255, 1)"></md-divider>
                                <md-menu-item>
                                    <md-button class="menuButton">
                                        <ng-md-icon icon="help_outline"></ng-md-icon>
                                        Help
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <span id="banner" class="mainHeader purple nowrap">University of Portsmouth</span>
                    </span>
                </md-toolbar-row>

                <md-toolbar-row>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-icon-button" aria-label="Back" ng-href="#/">
                            <ng-md-icon md-menu-origin icon="arrow_back" flex></ng-md-icon>
                        </md-button>
                        <span class="secondHeader turquoiseBG1">Open Day Visitor App</span>
                    </div>
                </md-toolbar-row>
            </md-toolbar>

            <md-content layout="column" flex>

                <!-- Main view -->
                <section flex="none">
                    <div ng-view class="slideLeft" role="main"></div>
                </section>

            </md-content>

            <!-- Footer - carousel -->
            <md-toolbar class="purpleBG1 bannerCarousel" style="min-height: 128px !important; max-height: 128px !important">
                <div flex ng-controller="bannerController" id="banner">
                    <div uib-carousel active="active" interval="interval" style="min-height: 128px !important; max-height: 128px !important">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style="min-height: 128px !important; max-height: 128px !important">
                            <img ng-src="{{slide.image}}" style="margin:auto;" style="min-height: 128px !important; max-height: 128 !important; overflow-x: hidden">
                            <div class="carousel-caption">
                                <p class="subSubHead turquoise">{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </md-toolbar>

            </div>
        </body>
    </html>
