<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"; charset="UTF-8">

        <link rel="stylesheet" href="lib/angular-material.min.css">
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- AngularJS/Material etc. -->
        <script src="lib/angular.js"></script>
        <script src="lib/angular-touch.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-aria.min.js"></script>
        <script src="lib/angular-messages.min.js"></script>
        <script src="lib/angular-route.min.js"></script>

        <script src="lib/angular-material.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
        <script src="lib/ui-bootstrap-custom-2.4.0.min.js"></script>

        <!-- Per-page JavaScript -->
        <script src="js/index.js"></script>
        <script src="js/directive.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/navigator.js"></script>
        <script src="js/feedback.js"></script>
        <script src="js/banner.js"></script>
        <script src="js/vcmessage.js"></script>
        <script src="js/feedbackanalytics.js"></script>
        <script src="js/plans.js"></script>
        <script src="js/contactus.js"></script>

        <!-- Google Maps stuff -->
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyA_M8pFurDyCMfwF4P_yCRJhlmu9cJmAUE&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="lib/ng-map.min.js"></script>

        <!-- Google analytics -->
        <script>
            (function(p,o,r,t,a,c,u,k){p['GoogleAnalyticsObject']=a;p[a]=p[a]||function(){
                (p[a].q=p[a].q||[]).push(arguments)},p[a].l=1*new Date();c=o.createElement(r),
                    u=o.getElementsByTagName(r)[0];c.async=1;c.src=t;u.parentNode.insertBefore(c,u)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-265018-1', 'auto');
ga('send', 'pageview');
        </script>
    </head>

    <body ng-app="UoPVisitorApp" ng-controller="mainController as ctrl" ng-cloak layout-gt-sm="column" layout="column" layout-fill onresize="checkScreenSize()">

        <!-- Top toolbar -->
        <div layout="column" layout-fill>
            <md-toolbar style="min-height: 12vh; max-height: 12vh;">
                <div class="md-toolbar-tools" layout-align="center center">
                    <md-button style="min-width: 22px !important" aria-label="Back" ng-href="#/" ng-show="location != '/'" ng-click="getLocation()">
                        <ng-md-icon class="large" icon="arrow_back" size="60" style="display: none" ng-show="location != '/'" ng-click="getLocation()"></ng-md-icon>
                        <ng-md-icon class="medium" icon="arrow_back" size="30" style="display: none" ng-show="location != '/'" ng-click="getLocation()"></ng-md-icon>
                        <ng-md-icon class="small" icon="arrow_back" size="22" style="display: none" ng-show="location != '/'" ng-click="getLocation()"></ng-md-icon>
                    </md-button>
                    <!--<span class="mainHeader purple nowrap">University of Portsmouth</span>-->
                    <span flex></span>
                    <span><img src="img/UoPportraitPUR300dpi.jpg" style="max-height: 10vh; max-width: 10vh; margin-top: 3vh"></img></span>
                    <span flex></span>
                    <span class="secondHeader turquoiseBG1 nowrap">Open Day Visitor App</span>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-content layout="column" flex>

                <!-- Main view -->
                <section flex="none">
                    <div ng-view class="slideLeft" role="main"></div>
                </section>

            </md-content>

            <!-- Footer - carousel -->
            <md-toolbar class="purpleBG1 bannerCarousel" style="min-height: 128px !important; max-height: 128px !important" ng-if="location != '/navigator' && location != '/parking'">
                <div flex ng-controller="bannerController" id="banner">
                    <div uib-carousel active="active" interval="interval" style="min-height: 128px !important; max-height: 128px !important">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style="min-height: 128px !important; max-height: 128px !important">
                            <img ng-src="{{slide.image}}"style="width: 100%; height: 100%; overflow: hidden">
                            <div class="carousel-caption">
                                <p class="subSubHead turquoise">{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </md-toolbar>

            </div>
        </body>
    </html>
