@font-face {
    font-family: Gibson;
    src: url(fonts/Gibson-Light-webfont.woff);
}

@font-face {
    font-family: Gibson;
    src: url(fonts/Gibson-Bold-webfont.woff);
    font-weight: bold;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: Helvetica Neue Bold;
    src: url(fonts/Helvetica-Neue-LT-Std-85-Heavy_22545.ttf);
}

md-divider {
    color: rgba(68, 37, 128, 0.22);
}

md-toolbar {
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
}

.md-open-menu-container md-menu-divider {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

md-menu-content {
    padding: 0;
}

md-menu-item {
    background-color: rgba(65, 192, 190, 0.95);
}

ng-md-icon {
    fill: rgb(68, 37, 128);
}

.menuButton {
    font-family: "Gibson";
    font-weight: bold;
    font-size: 2vh;
    text-transform: uppercase;
    color: white;
}

input { 
    outline: none !important;
}

/* General purpose classes */

.vimeoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}    

.vimeoContainer iframe, .vimeoContainer object, .vimeoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plansContainer {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.plansContainer object {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.nowrap {
    white-space: nowrap;
}

.mainHeader {
    display: inline-block;
    font-family: "Gibson";
    font-weight: bold;
    font-size: 4.5vw;
    text-transform: uppercase;

}

.secondHeader {
    font-family: "Gibson";
    font-weight: bold;
    font-size: 6vw;
    color: white;
    text-transform: uppercase;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* UoP text */

.introText {
    font-family: "Gibson";
    font-size: 4vw;
    line-height: 4.75vw;
    color: rgb(68, 37, 128);
}

.bodyText {
    font-family: "Helvetica Neue";
    font-size: 4vw;
    line-height: 4.75vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.subHead {
    font-family: "Gibson";
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 5.35vw;
}

.subSubHead {
    font-family: "Helvetica Neue Bold";
    font-size: 4vw;
    line-height: 4.5vw;
}

.feedbackTextarea {
    border-radius: 1vw;
    resize: none;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 3.50vw;
}

#planTitle {
    position: absolute;
    color: white !important;
    font-size: 6vw !important;
}

#parallelogram {
    width: 90%;
    height: 0;
    border-top: 15vw solid rgba(68, 37, 128, 0.8);
    border-right: 12vw solid transparent;
    margin-right: 10px;
}
/* UoP colours */

.purple {
    color: rgb(68, 37, 128);
}

.turquoise {
    color: rgb(65, 192, 190);
}

.purpleBG1 {
    background-color: rgb(68, 37, 128);
}

.purpleBG2 {
    background-color: rgba(68, 37, 128, 0.5);
}

.purpleBG3 {
    background-color: rgba(68, 37, 128, 0.25);
}

.turquoiseBG1 {
    background-color: rgb(65, 192, 190);
}

.turquoiseBG2 {
    background-color: rgba(65, 192, 190, 0.5);
}


/* Animation */

.slideLeft {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
}

.slideLeft.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.slideLeft.ng-enter-active {
    opacity: 1;
}

.slideLeft.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.slideLeft.ng-leave-active {
    opacity: 0;
}

.slideLeft.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

/* Misc. */

.gm-iv-container {
    display: none;
}
.noAnimate {
    -webkit-transition: none !important;
    transition: none !important;
}

.md-on {
    background-color: black !important;
}

#mainToolbar {
    min-height: 15vh;
    max-height: 15vh;
}

#bannerLogo {
    max-height: 12vh;
    max-width: 30vw;
    margin-top: 6vh;
    margin-left: 7vw;
}


.warnbox-content {
    display: none !important;
}

.warnbox-c1 {
    display: none !important;
}

.warnbox-c2 {
    display: none !important;
}

.mapWrapper {
    position: relative;
    margin: 0 auto;
}

#navMap {
    height: 30%;
}

#directions-panel {
    width: 100%;
    padding: 0px 5px;
}

@media (orientation: landscape)
{
    .bannerCarousel {
        display: none;
    }

    #mainToolbar {
        min-height: 23vh !important;
        max-height: 23vh !important;
    }

    #bannerLogo {
        display: none;
    }

    #bannerLogoLandscape {
        display: inline-block !important;
        max-width: 40vw !important;
        margin-top: 8vh;
        margin-left: 5vw;
    }

    .menuButton {
        font-size: 2.5vw !important;
    }

    .bodyText {
        font-size: 2.5vw !important;
    }

    #navMap {
        height: 69%;
        width: 50%;
        float: left;
    }

    #directions-panel {
        width: 50%;
        float: left;
    }
    
    .mapDropDown {
        width: 50% !important;
        float: left;
    }

    .mapDropDown2 {
        width: 50% !important;
        float: right;
    }

    .fattenButton {
        padding: 1vw;
        padding-top: 0.5vw !important;
        padding-bottom: 0.5vw !important;
    }

    .subHead {
        font-size: 2.5vw !important;
        line-height: 3.5vw !important;
    }

    .subSubHead {
        font-size: 2.25vw !important;
        line-height: 3vw !important;
    }

    .introText {
        font-size: 3vw !important;
        line-height: 3.75vw;
    }

    .secondHeader {
        font-size: 6.5vh;
    }
}

.ng-pristine {
    color: rgb(68, 37, 128); 
}

.ng-valid {
    color: rgb(68, 37, 128);
}

.ng-invalid.ng-dirty {
    color: Red !important;
}

.ng-invalid.ng-dirty#q3_comment {
    border: 2px solid red;
}

.ng-invalid.ng-dirty#q4_comment {
    border: 2px solid red;
}

.ng-invalid.ng-dirty#q6_comment {
    border: 2px solid red;
}

.ng-invalid.ng-dirty#q9_comment {
    border: 2px solid red;
}

md-dialog {
    background-color: white;
}

@media screen and (min-width: 1px) and (max-width: 420px) {
    .small {
        display: inline-block !important;
    }

}

@media screen and (min-width: 421px) and (max-width: 1023px) {
    .medium {
        display: inline-block !important;
    }
    
    #bannerLogo {
        margin-left: 10vw;
        margin-top: 10vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 9999px) {
    .large {
        display: inline-block !important;
    }

    #bannerLogo {
        margin-left: 10vw;
        margin-top: 10vh;
    }
}
