/*
 * Turquoise: 65, 192, 190
 * Purple: 68, 37, 128
 */

@font-face {
    font-family: Gibson;
    src: url(fonts/Gibson-Light-webfont.woff);
}

@font-face {
    font-family: Gibson;
    src: url(fonts/Gibson-Bold-webfont.woff);
    font-weight: bold;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: Helvetica Neue Bold;
    src: url(fonts/Helvetica-Neue-LT-Std-85-Heavy_22545.ttf);
}

html {
    position: relative;
    min-height: 100%;
}


md-divider {
    color: rgba(68, 37, 128, 0.22);
}

md-toolbar {
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
}

.md-open-menu-container md-menu-divider {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

md-menu-content {
    padding: 0;
}

md-menu {
    margin: 0 !important;
}

md-menu-item {
    background-color: rgba(65, 192, 190, 0.95);
}

ng-md-icon {
    margin-right: 8px;
    fill: rgb(68, 37, 128);
}

.menuButton {
    font-family: "Gibson" !important;
    font-weight: bold !important;
    font-size: 4.5vw !important;
    text-transform: uppercase !important;
    color: white;
}

h3 {
    margin-bottom: 0;
    font-weight: normal;
}

h4 {
    margin-top: 0;
    font-weight: normal;
    line-height: 94%;
}

md-icon svg {
    fill: inherit;
}

/* General purpose classes */

.vimeo-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}    

.vimeo-container iframe, .vimeo-container object, .vimeo-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nowrap {
    white-space: nowrap;
}

.fillRemaining {
    flex: 1 1 auto;
}

.mainHeader {
    display: inline-block;
    font-family: "Gibson";
    font-weight: bold;
    font-size: 5.25vw;
    text-transform: uppercase;
    margin: 0 auto;
    margin-left: 0;

}

.secondHeader {
    font-family: "Gibson";
    font-weight: bold;
    font-size: 4vw;
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -15px;
    padding-bottom: -15px;
    margin: 0 auto;
    align: middle;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25vw;
    overflow-y: auto;
}

.footer2 {
    width: 100%;
}

.backButton {
    align: left;
}

/* UoP text */

.introText {
    font-family: "Gibson";
    font-size: 12pt;
    color: rgb(68, 37, 128);
}

.bodyText {
    font-family: "Helvetica Neue";
    font-size: 4.25vw;
    font-weight: 100; 
}

.subHead {
    font-family: "Gibson";
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 5.35vw;
}

.subSubHead {
    font-family: "Helvetica Neue Bold";
    font-size: 4vw;
    line-height: 4.5vw;
}

.feedbackTextarea {
    border-radius: 2vw;
    resize: none;
    font-family: "Helvetica Neue";
    font-weight: 100;
}

/* UoP colours */

.purple {
    color: rgb(68, 37, 128);
}

.turquoise {
    color: rgb(65, 192, 190);
}

.purpleBG1 {
    background-color: rgb(68, 37, 128);
}

.purpleBG2 {
    background-color: rgba(68, 37, 128, 0.5);
}

.purpleBG3 {
    background-color: rgba(68, 37, 128, 0.25);
}

.turquoiseBG1 {
    background-color: rgb(65, 192, 190);
}

.turquoiseBG2 {
    background-color: rgba(65, 192, 190, 0.5);
}


/* Animation */

.slideLeft {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
}

.slideLeft.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.slideLeft.ng-enter-active {
    opacity: 1;
}

.slideLeft.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

.slideLeft.ng-leave-active {
    opacity: 0;
}

.slideLeft.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

div#banner {

}


/* Misc. */

.carParkMarker {
    
}

textarea {

}

.md-on {
    background-color: black !important;
}
